@page "/"

<div class="container" @onkeydown="@KeyDown">
    <div class="heading">
        <h1 class="title">2048</h1>
        <div class="scores-container">
            <div class="score-container">0</div>
            <div class="best-container">12456</div>
        </div>
    </div>
    <div class="above-game">
        <p class="game-intro">Join the tiles, get to <strong>2048!</strong></p><a class="restart-button">New Game</a>
    </div>
    <div class="game-container">
        <div class="game-message">
            <p></p>
            <div class="lower"><a class="keep-playing-button">Keep going</a>
                <a class="retry-button">Try again</a>
            </div>
        </div>
        <UITableGrid />
        <TailContainer></TailContainer>
    </div>
    <div class="under-board-container"></div>
    <div class="game-explanation-container">
        <p class="game-explanation"><strong class="important">How to play:</strong>
            <span class="game-explanation-mouse">Use your <strong>arrow keys</strong></span><span
                class="game-explanation-touch">Swipe with <strong>your fingers</strong></span>
            to move the tiles. Tiles with the same number
            <strong>merge into one</strong> when they touch. Add them up to reach
            <strong>2048!</strong>
        </p>
    </div>
</div>

@code{
        public void KeyDown(KeyboardEventArgs args)
    {
        Board MyBoard = new Board();
        MyBoard.MovementInput = args.Key.ToString();
        Console.WriteLine(MyBoard.MovementInput);
    }
}
