html, body {
    margin: 0;
    padding: 0;
    background: #faf8ef;
    color: #776e65;
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 18px;
}
.game-container {
    margin-top: 40px;
    position: relative;
    padding: 15px;
    cursor: default;
    -webkit-touch-callout: none;
    -ms-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -ms-touch-action: none;
    touch-action: none;
    background: #bbada0;
    border-radius: 6px;
    width: 500px;
    height: 500px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
div {
    display: block;
}
.game-message {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(238, 228, 218, 0.73);
    z-index: 100;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    animation: fade-in 800ms ease 1200ms;
    animation-fill-mode: both;
}
.game-message .lower {
    display: block;
    margin-top: 29px;
}
.game-message a.keep-playing-button {
    display: none;
}
.game-message a {
    display: inline-block;
    background: #8f7a66;
    border-radius: 3px;
    padding: 0 20px;
    text-decoration: none;
    color: #f9f6f2;
    height: 40px;
    line-height: 42px;
    cursor: pointer;
    margin-left: 9px;
}
.grid-container {
    position: absolute;
    z-index: 1;
}
.tile.tile-position-1-2 {
    -webkit-transform: translate(0px, 121px);
    -moz-transform: translate(0px, 121px);
    -ms-transform: translate(0px, 121px);
    transform: translate(0px, 121px);
}
.tile-container {
    position: absolute;
    z-index: 2;
}
.tile.tile-position-1-2 {
    -webkit-transform: translate(0px, 121px);
    -moz-transform: translate(0px, 121px);
    -ms-transform: translate(0px, 121px);
    transform: translate(0px, 121px);
}

.tile.tile-2 .tile-inner {
    background: #eee4da;
    box-shadow: 0 0 30px 10px rgb(243 215 116 / 0%), inset 0 0 0 1px rgb(255 255 255 / 0%);
}
.tile.tile-position-3-1 {
    -webkit-transform: translate(242px, 0px);
    -moz-transform: translate(242px, 0px);
    -ms-transform: translate(242px, 0px);
    transform: translate(242px, 0px);
}
.tile {
    position: absolute;
    -webkit-transition: 100ms ease-in-out;
    -moz-transition: 100ms ease-in-out;
    transition: 100ms ease-in-out;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
}
.tile .tile-inner {
    border-radius: 3px;
    background: #eee4da;
    text-align: center;
    font-weight: bold;
    z-index: 10;
    font-size: 55px;
}
.tile, .tile .tile-inner {
    width: 107px;
    height: 107px;
    line-height: 107px;
}
.grid-row {
    content: "";
    display: block;
    clear: both;
    height: 106px ;
    margin-bottom: 15px;
}
.grid-cell {
    width: 106.25px;
    height: 106.25px;
    margin-right: 15px;
    float: left;
    border-radius: 3px;
    background: rgba(238, 228, 218, 0.35);
}
.under-board-container, .under-board-container .adsbygoogle {
    width: 100%;
    height: 0;
    max-height: 0;
}