.heading[b-a8j2c0u4qu]:after {
  content: "";
  display: block;
  clear: both;
}

h1.title[b-a8j2c0u4qu] {
  font-size: 80px;
  font-weight: bold;
  margin: 0;
  display: block;
  float: left;
  color: #776e65;
}
.scores-container[b-a8j2c0u4qu] {
  float: right;
  display: flex;
}

.scores-container * + *[b-a8j2c0u4qu] {
  margin-left: 5px;
}

.score-container[b-a8j2c0u4qu],
.best-container[b-a8j2c0u4qu] {
  position: relative;
  display: block;
  background: #bbada0;
  padding: 15px 25px;
  font-size: 25px;
  height: 60px;
  line-height: 47px;
  font-weight: bold;
  border-radius: 3px;
  color: white;
  margin-top: 8px;
  text-align: center;
}

.score-container[b-a8j2c0u4qu]:after,
.best-container[b-a8j2c0u4qu]:after {
  position: absolute;
  width: 100%;
  top: 10px;
  left: 0;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 13px;
  text-align: center;
  color: #eee4da;
}

.score-container[b-a8j2c0u4qu]:after {
  content: "Score";
}

.best-container[b-a8j2c0u4qu]:after {
  content: "Best";
}

p[b-a8j2c0u4qu] {
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 1.65;
}

a[b-a8j2c0u4qu], .cc_container a:not(.cc_btn)[b-a8j2c0u4qu] {
  color: #776e65;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}

strong.important[b-a8j2c0u4qu] {
  text-transform: uppercase;
}

.container[b-a8j2c0u4qu] {
  width: 500px;
  margin: 0 auto;
  margin-top: 30px;
}

.game-container[b-a8j2c0u4qu] {
  margin-top: 40px;
  position: relative;
  cursor: default;
  -webkit-touch-callout: none;
  -ms-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  background: #bbada0;
  border-radius: 6px;
  width: 500px;
  height: 500px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.game-message[b-a8j2c0u4qu] {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(238, 228, 218, 0.73);
  z-index: 100;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  -webkit-animation: fade-in 800ms ease 1200ms;
  -moz-animation: fade-in 800ms ease 1200ms;
  animation: fade-in-b-a8j2c0u4qu 800ms ease 1200ms;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
}

.above-game[b-a8j2c0u4qu] {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.game-intro[b-a8j2c0u4qu] {
  line-height: 1.2;
  margin-bottom: 0;
  margin-right: 10px;
  color: #776e65;
}

.how-to-play-link[b-a8j2c0u4qu] {
  display: inline-block;
}

.restart-button[b-a8j2c0u4qu] {
  display: inline-block;
  background: #8f7a66;
  border-radius: 3px;
  padding: 0 20px;
  text-decoration: none;
  color: #f9f6f2;
  height: 40px;
  line-height: 42px;
  cursor: pointer;
  display: block;
  text-align: center;
  flex-shrink: 0;
}

.game-explanation[b-a8j2c0u4qu] {
  display: block;
  margin-top: 30px;
  border-radius: 1px;
}

.game-explanation-touch[b-a8j2c0u4qu] {
  display: none;
}

.under-board-container[b-a8j2c0u4qu],
.under-board-container .adsbygoogle[b-a8j2c0u4qu] {
  width: 100%;
  height: 0;
  max-height: 0;
}

.start-playing-link[b-a8j2c0u4qu] {
  margin-right: 15px;
}

.grid-container-table[b-f9ruowr4ym]{
  width: inherit;
  height: inherit;
}

table[b-f9ruowr4ym]{
  border-collapse: separate;
  border-spacing: 10px;
}

.tr[b-f9ruowr4ym]{
  background-color: #bbada0;
  box-sizing: border-box;
}

.td[b-f9ruowr4ym]{
  background-color: rgba(238, 228, 218, 0.35);
  height: 20%;
  width: 20%;
  border-radius: 10px;
}

.tile[b-f9ruowr4ym]{
  background-color: #eee4da;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
/* _content/Game2048/Shared/MainLayout.razor.rz.scp.css */
.page[b-jgchtsz1ba] {
  position: relative;
  display: flex;
  flex-direction: column;
}

main[b-jgchtsz1ba] {
  flex: 1;
}

@media (min-width: 641px) {
  .page[b-jgchtsz1ba] {
      flex-direction: row;
  }

  .top-row[b-jgchtsz1ba], article[b-jgchtsz1ba] {
    padding-left: 2rem !important;
    padding-right: 1.5rem !important;
}
}
