<div class="tile-container">
    <div class="tile tile-2 tile-position-4-1 tile-new">
        <div class="tile-inner">2</div>
    </div>
    <div class="tile tile-2 tile-position-4-3 tile-new">
        <div class="tile-inner">2</div>
    </div>
</div>
