@page "/Game"

<section class="game-container">
    <section class="game-board">
        @for(int i = 0; i<16; i++)
        {
            <div class="cell"></div>
        }
        <div class="tile">4</div>
    </section>
</section>