@page "/Game"

<table class="grid-container-table">
    @for(int i = 0; i < 4; i++)
    {
        <tr class="tr">
            @for(int j = 0; j < 4; j++)
            {
                <td class="td">
                    <div class="tile">4</div>
                </td>
            }
        </tr>
    }

</table>